flow.json
[
  {
    "id": "b946d31f.fb343",
    "type": "tab",
    "label": "Classify",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e538bb12.9064b8",
    "type": "template",
    "z": "b946d31f.fb343",
    "name": "Upload image",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<html>\n<head><title></title></head>\n<body>\n<form action=/classify method=post enctype=multipart/form-data>\n    <input type=file name=img accept=image/* />\n    <input type=number name=speed  />\n    <input type=submit value=Submit />\n</form>\n</body>\n</html>",
    "x": 1300,
    "y": 340,
    "wires": [["76bdac5b.44f6f4"]]
  },
  {
    "id": "87cfed59.cc2d8",
    "type": "http in",
    "z": "b946d31f.fb343",
    "name": "",
    "url": "/classify",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1110,
    "y": 340,
    "wires": [["e538bb12.9064b8"]]
  },
  {
    "id": "76bdac5b.44f6f4",
    "type": "http response",
    "z": "b946d31f.fb343",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1470,
    "y": 340,
    "wires": []
  },
  {
    "id": "13230993.ab16e6",
    "type": "http in",
    "z": "b946d31f.fb343",
    "name": "",
    "url": "/classify",
    "method": "post",
    "upload": true,
    "swaggerDoc": "",
    "x": 1110,
    "y": 420,
    "wires": [["d84c5a30.1ed9a8"]]
  },
  {
    "id": "cb0d9eeb.1a605",
    "type": "http response",
    "z": "b946d31f.fb343",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1470,
    "y": 660,
    "wires": []
  },
  {
    "id": "f0f841c2.66948",
    "type": "template",
    "z": "b946d31f.fb343",
    "name": "Result",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{payload}}}",
    "output": "str",
    "x": 1270,
    "y": 660,
    "wires": [["cb0d9eeb.1a605"]]
  },
  {
    "id": "e0494afd.23fa88",
    "type": "function",
    "z": "b946d31f.fb343",
    "name": "Safety?",
    "func": "\nconst { payload } = msg\nconst { result } = payload\nconst { safe, caution } = result\nconst danger = safe < caution ? 1 : 0\nconsole.log('is safety', result, danger)\n\nmsg.payload = danger\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1280,
    "y": 580,
    "wires": [["f0f841c2.66948"]]
  },
  {
    "id": "84c58d0d.dd7b6",
    "type": "http request",
    "z": "b946d31f.fb343",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "url": "http://tk2-206-12986.vs.sakura.ne.jp/api/v2/classify",
    "tls": "",
    "x": 1290,
    "y": 500,
    "wires": [["e0494afd.23fa88"]]
  },
  {
    "id": "57797753.7c5b98",
    "type": "function",
    "z": "b946d31f.fb343",
    "name": "Send",
    "func": "const { req } = msg\nconst [ image ] = req.files\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n}\n\nmsg.payload = {\n    features: {\n        speed: req.body.speed\n    },\n    image: {\n        content: image.buffer.toString('base64'),\n        filename: image.originalname\n    }\n}\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1390,
    "y": 420,
    "wires": [["84c58d0d.dd7b6"]]
  },
  {
    "id": "d84c5a30.1ed9a8",
    "type": "function",
    "z": "b946d31f.fb343",
    "name": "Logs",
    "func": "console.log('request', msg)\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1270,
    "y": 420,
    "wires": [["57797753.7c5b98"]]
  }
]
