flow.json
[
  {
    "id": "b946d31f.fb343",
    "type": "tab",
    "label": "Classify",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b97469a5.327bf8",
    "type": "tab",
    "label": "Classify",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e538bb12.9064b8",
    "type": "template",
    "z": "b946d31f.fb343",
    "name": "Upload image",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<html>\n<head><title></title></head>\n<body>\n<form action=/classify/v1 method=post enctype=multipart/form-data>\n    <input type=file name=img accept=image/* />\n    <input type=number name=speed  />\n    <input type=submit value=Submit />\n</form>\n</body>\n</html>",
    "x": 1300,
    "y": 200,
    "wires": [["76bdac5b.44f6f4"]]
  },
  {
    "id": "87cfed59.cc2d8",
    "type": "http in",
    "z": "b946d31f.fb343",
    "name": "",
    "url": "/classify",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1110,
    "y": 200,
    "wires": [["e538bb12.9064b8"]]
  },
  {
    "id": "76bdac5b.44f6f4",
    "type": "http response",
    "z": "b946d31f.fb343",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1470,
    "y": 200,
    "wires": []
  },
  {
    "id": "13230993.ab16e6",
    "type": "http in",
    "z": "b946d31f.fb343",
    "name": "",
    "url": "/classify",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 1110,
    "y": 560,
    "wires": [["57797753.7c5b98"]]
  },
  {
    "id": "cb0d9eeb.1a605",
    "type": "http response",
    "z": "b946d31f.fb343",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1470,
    "y": 820,
    "wires": []
  },
  {
    "id": "f0f841c2.66948",
    "type": "template",
    "z": "b946d31f.fb343",
    "name": "Result",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{payload}}}",
    "output": "str",
    "x": 1270,
    "y": 820,
    "wires": [["cb0d9eeb.1a605"]]
  },
  {
    "id": "e0494afd.23fa88",
    "type": "function",
    "z": "b946d31f.fb343",
    "name": "Safety?",
    "func": "const { payload } = msg\nconst { result } = payload\nconst { safe, caution } = result\nconst danger = safe < caution ? 1 : 0\n\nmsg.payload = danger\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1280,
    "y": 740,
    "wires": [["f0f841c2.66948", "da1f05d3.084ef8"]]
  },
  {
    "id": "84c58d0d.dd7b6",
    "type": "http request",
    "z": "b946d31f.fb343",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "url": "http://tk2-206-12986.vs.sakura.ne.jp/api/v2/classify",
    "tls": "",
    "x": 1290,
    "y": 660,
    "wires": [["e0494afd.23fa88", "3e9f13a8.e7107c"]]
  },
  {
    "id": "57797753.7c5b98",
    "type": "function",
    "z": "b946d31f.fb343",
    "name": "Send",
    "func": "const { req } = msg\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n}\n\nmsg.payload = req.body\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1270,
    "y": 580,
    "wires": [["84c58d0d.dd7b6"]]
  },
  {
    "id": "3e9f13a8.e7107c",
    "type": "debug",
    "z": "b946d31f.fb343",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "x": 1500,
    "y": 660,
    "wires": []
  },
  {
    "id": "da1f05d3.084ef8",
    "type": "debug",
    "z": "b946d31f.fb343",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "x": 1500,
    "y": 740,
    "wires": []
  },
  {
    "id": "fb0975e4.a53e18",
    "type": "template",
    "z": "b97469a5.327bf8",
    "name": "Upload image",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<html>\n<head><title></title></head>\n<body>\n<form action=/classify method=post enctype=multipart/form-data>\n    <input type=file name=img accept=image/* />\n    <input type=number name=speed  />\n    <input type=submit value=Submit />\n</form>\n</body>\n</html>",
    "x": 1300,
    "y": 340,
    "wires": [["990d70c1.280d2"]]
  },
  {
    "id": "cf9f3470.082d88",
    "type": "http in",
    "z": "b97469a5.327bf8",
    "name": "",
    "url": "/classify",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 1110,
    "y": 340,
    "wires": [["fb0975e4.a53e18"]]
  },
  {
    "id": "990d70c1.280d2",
    "type": "http response",
    "z": "b97469a5.327bf8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1470,
    "y": 340,
    "wires": []
  },
  {
    "id": "7089ff3f.eea97",
    "type": "http in",
    "z": "b97469a5.327bf8",
    "name": "",
    "url": "/classify",
    "method": "post",
    "upload": true,
    "swaggerDoc": "",
    "x": 1110,
    "y": 420,
    "wires": [["58e0276d.767fd8"]]
  },
  {
    "id": "7104b67.89e3b48",
    "type": "http response",
    "z": "b97469a5.327bf8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1470,
    "y": 660,
    "wires": []
  },
  {
    "id": "7f593e2b.fef41",
    "type": "template",
    "z": "b97469a5.327bf8",
    "name": "Result",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{payload}}}",
    "output": "str",
    "x": 1270,
    "y": 660,
    "wires": [["7104b67.89e3b48"]]
  },
  {
    "id": "216f66d0.71cf7a",
    "type": "function",
    "z": "b97469a5.327bf8",
    "name": "Safety?",
    "func": "\nconst { payload } = msg\nconst { result } = payload\nconst { safe, caution } = result\nconst danger = safe < caution ? 1 : 0\nconsole.log('is safety', result, danger)\n\nmsg.payload = danger\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1280,
    "y": 580,
    "wires": [["7f593e2b.fef41"]]
  },
  {
    "id": "34cd0f6d.147e1",
    "type": "http request",
    "z": "b97469a5.327bf8",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "url": "http://tk2-206-12986.vs.sakura.ne.jp/api/v2/classify",
    "tls": "",
    "x": 1290,
    "y": 500,
    "wires": [["216f66d0.71cf7a"]]
  },
  {
    "id": "d447ad84.9f1fe",
    "type": "function",
    "z": "b97469a5.327bf8",
    "name": "Send",
    "func": "const { req } = msg\nconst [ image ] = req.files\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n}\n\nmsg.payload = {\n    features: {\n        speed: req.body.speed\n    },\n    image: {\n        content: image.buffer.toString('base64'),\n        filename: image.originalname\n    }\n}\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1390,
    "y": 420,
    "wires": [["34cd0f6d.147e1"]]
  },
  {
    "id": "58e0276d.767fd8",
    "type": "function",
    "z": "b97469a5.327bf8",
    "name": "Logs",
    "func": "console.log('request', msg)\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1270,
    "y": 420,
    "wires": [["d447ad84.9f1fe"]]
  },
  {
    "id": "360e4825.afa298",
    "type": "http in",
    "z": "b946d31f.fb343",
    "name": "",
    "url": "/classify/v1",
    "method": "post",
    "upload": true,
    "swaggerDoc": "",
    "x": 1120,
    "y": 280,
    "wires": [["aaefdb0f.5b3108"]]
  },
  {
    "id": "ff0caff1.b05e",
    "type": "http response",
    "z": "b946d31f.fb343",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1470,
    "y": 440,
    "wires": []
  },
  {
    "id": "d218c5ea.727c08",
    "type": "template",
    "z": "b946d31f.fb343",
    "name": "Result",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{payload}}}",
    "output": "str",
    "x": 1270,
    "y": 440,
    "wires": [["ff0caff1.b05e"]]
  },
  {
    "id": "6cc21a8.dfc6de4",
    "type": "http request",
    "z": "b946d31f.fb343",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "url": "http://127.0.0.1:1880/classify",
    "tls": "",
    "x": 1290,
    "y": 360,
    "wires": [["d218c5ea.727c08"]]
  },
  {
    "id": "aaefdb0f.5b3108",
    "type": "function",
    "z": "b946d31f.fb343",
    "name": "Send",
    "func": "const { req } = msg\nconst [ image ] = req.files\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n}\n\nmsg.payload = {\n    features: {\n        speed: req.body.speed\n    },\n    image: {\n        content: image.buffer.toString('base64'),\n        filename: image.originalname\n    }\n}\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 1270,
    "y": 280,
    "wires": [["6cc21a8.dfc6de4"]]
  }
]
